# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# system files
.DS_Store
Thumbs.db

# build
dist/
coverage/

# IDE
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
